@font-face {
    font-family: yekan;
    src: url("fonts/yekan/Yekan.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body, button, input {
    font-family: "yekan";
}

:root {
    --bg-color: #fff;
    --text-color: #333;
    --gray-color: #576574;
    --blue-color: #3867d6;
    --bluedark-color: #341f97;
    --yellow-color: #f7b731;
    --big-font: 5rem;
    --h2-font: 3rem;
    --h3-font: 2rem;
    --h4-font: 1.5rem;
    --p-font: 1.4rem;
    --small-font: 1.2rem;
}
a {
    color: #000;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    right: 0;
    background: transparent;
    padding: 30px 10%;
    transition: all 0.5s;
    z-index: 1000;
}

.logo {
    font-size: var(--h3-font);
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--bg-color);
}

.navbar {
    display: flex;
}
.navbar a {
    font-size: var(--h4-font);
    font-weight: 400;
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 5px;
    transition: ease 0.5s;
}

.navbar a:hover {
    background: var(--bg-color);
    color: var(--text-color);
    border-radius: 5px;
    box-shadow: 10px 10px 20px 0px rgba(82,81,81,0.52);
}

#menu-icon {
    font-size: 2rem;
    color: var(--bg-color);
    z-index: 1000;
    cursor: pointer;
    display: none;
}

/*--------home-----------*/

section {
    padding: 70px 10%;
}

.home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(img/tour.travel10.jpg);
    background-size: cover;
    background-position: center;
    z-index: 100;
}

.home-text {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
    opacity: 0.8;
}

.home-text h1 {
    font-size: var(--big-font);
    color: var(--text-color);
    line-height: 1.2;
    margin-bottom: 20px
}

.home-text p {
    font-size: var(--p-font);
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 50px;
}

.home-btn {
    display: inline-block;
    background: var(--blue-color);
    font-size: var(--p-font);
    color: var(--bg-color);
    padding: 20px 30px;
    border-radius: 10px;
    transition: ease 0.5s;
}

.home-btn:hover {
    background: var(--bluedark-color);
    transform: scale(1.2);
}

header.sticky {
    background: var(--bg-color);
    padding: 10px 15%;
    right: 0;
    box-shadow: 0 10px 10px -10px rgba(30, 30, 40, 0.1);
}
.sticky .logo {
    color: var(--text-color);
}


/*--------container-----------*/

.container-text h2 {
    font-size: var(--h2-font);
}
.row-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
}

.container-box {
    background: var(--bg-color);
    border: 1px solid #f0eded;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 1s ease 0s;
    cursor: pointer;
}

.container-box img {
    max-width: 45vw;
    max-height: 45vh;
}

.container-box h3 {
    font-size: var(--h3-font);
    margin-bottom: 10px;
}

.container-box:hover {
    border: 1px solid transparent;
    box-shadow: 10px 30px 60px rgb(50 50 50 / 12%);
    transform: translateY(-15px);
}


/*--------package-----------*/

.package .title {
    text-align: center;
}
.title h2 {
    font-size: var(--h2-font);
    line-height: 1.2;
}

.package-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
}

.package-content .img-box {
    position: relative;
    width: 22vw;
    height: 200px;
    margin: 20px;
    cursor: pointer;
}
.package-content .img-box:hover {
    filter: brightness(100%) hue-rotate(45deg);
    transform: scale(1.1);
}

.package-content .img-box img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.box {
    position: relative;
}

.box h3 {
    position: absolute;
    font-size: var(--h2-font);
    font-weight: 700;
    top: 40px;
    right: 40px;
    color: var(--yellow-color);

}

.des-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.location h4 {
    font-size: var(--h4-font);
    margin: 10px 20px;
}
.location p {
    font-size: var(--p-font);
    color: var(--gray-color);
}
.stars i {
    color: var(--yellow-color);
    font-size: var(--h3-font);
    transform: translate(50px, -10px);
}


/*--------destination-----------*/

.destination-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
}

.col-content {
    position: relative;
    margin-right: 20px;
    width: 30vw;
}
.col-content img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.col-content img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.col-content h4 {
    position: absolute;
    font-size: var(--h4-font);
    font-weight: 700;
    color: var(--text-color);
    background: var(--yellow-color);
    left: 20px;
    bottom: 80px;
    padding: 0 5px;
}

.col-content p {
    position: absolute;
    font-size: var(--p-font);
    color: var(--bg-color);
    background: var(--bluedark-color);
    padding: 0 5px;
    left: 20px;
    bottom: 30px;
    letter-spacing: 1px;
}


/*--------newsletter-----------*/

.newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 2rem;
}

.news-text h2 {
    font-size: var(--h2-font);
    margin-bottom: 5px;
}

.news-text p {
    font-size: var(--p-font);
    color: var(--gray-color);
    line-height: 30px;
}

.newsletter form {
    position: relative;
    width: 450px;
    max-width: 100%;
}

.newsletter form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 20px 70px;
    box-shadow: 10px 20px 30px rgb(80 80 80 / 20%);
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: var(--h4-font);
}

.newsletter form input:last-child {
    display: inline-block;
    position: absolute;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 20px 30px;
    left: 5px;
    font-size: var(--small-font);
    background-color: var(--blue-color);
    color: var(--bg-color);
    cursor: pointer;
}

/*--------footer-----------*/

#contact {
    background: var(--text-color);
}

.main-footer {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    padding: 20px 10%;
}

.list-footer {
    width: 25%;
}
.list-footer h4 {
    position: relative;
    color: var(--bg-color);
    font-size: var(--h4-font);
    margin-bottom: 30px;
}

.list-footer h4::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 60px;
    bottom: -10px;
    background: var(--bg-color);
}

.list-footer ul li:not(:last-child) {
    margin-bottom: 10px;
}

.list-footer ul li a {
    display: block;
    color: var(--bg-color);
    font-size: var(--p-font);
    transition: 0.5s;
}

.list-footer ul li a:hover {
    transform: translateX(-10px);
}

.social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: var(--bg-color);
    color: var(--blue-color);
    font-size: var(--h4-font);
    border-radius: 10px;
    transition: 0.5s;
    margin-right: 5px;
}
.social a:hover {
    transform: scale(1.2);
}


.copy-right {
    text-align: center;
    padding-top: 50px;
}
.copy-right p {
    font-size: var(--h4-font);
    color: var(--bg-color);
}


@media(max-width: 1200px) {
    header {
        padding: 15px 12%;
        transition: 0.3s;
    }
 
    section {
        padding: 70px 15%;
        transition: 0.3s;
    }
    .home {
        width: 100vw;
        height: 90vh;
    }

    .container-box img {
        width: 35vw;
        height: 35vh;
    }

    :root {
        --big-font: 4rem;
        --h2-font: 2.2rem;
        --h3-font: 1.7rem;
        --h4-font: 1.2rem;
        --p-font: 1rem;
        --small-font: 0.9rem;
    }
}

@media(max-width: 992px) {
    #menu-icon {
        position: absolute;
        display: block;
        right: 30px;
        color: var(--bg-color);
    }

    .sticky #menu-icon {
        color: var(--text-color);
       
    }

    .home {
        width: 100vw;
        height: 85vh;
    }

    .navbar{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        right: -100%;
        width: 20vw;
        height: 120vh;
        background: var(--blue-color);
        padding: 70px 20px;
        transition: 0.5s all;
    }
    .navbar a {
        display: block;
        color: var(--bg-color);
        margin: 1rem 0;
        font-size: var(--h3-font);
    }
    .sticky .navbar a {
        color: var(--bg-color);
    }

    .navbar a:hover {
        color: var(--text-color);
    }

    .open {
        right: 0;
    }

    .list-footer {
        width: 50%;
        margin-bottom: 30px;
    }
}


@media(max-width: 768px) {
    .list-footer {
        width: 100%;
    }

    .newsletter form {
        width: 320px;
    }

    :root {
        --big-font: 3.5rem;
        --h2-font: 2rem;
        --h3-font: 1.5rem;
    }

    .text {
        text-align: center;
    }
}